
@{
    ViewBag.Title = "AgentCommissionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.min.css" rel="stylesheet" />
<script src="~/js/jquery.jqgrid.min.js"></script>

<div class="modal-header">
    <div class="col-md-3">
        <label for="">From Date</label>
        <input type="text" class="form-control date" id="dtpStartDate" />
    </div>
    <div class="col-md-3">
        <label for="">To Date</label>
        <input type="text" class="form-control date" id="dtpEndDate" />
    </div>
    <div class="col-md-4">
        <label for="">Agent Name</label>
        <select name="ddlAgentName" id="ddlAgentName" tabindex="8" class="form-control stateSelect e-policy-marginbottom-inputs">           
        </select>
    </div>
    <div class="col-md-1">
        <button type="button" id="btnSearch" class="btn btn-primary" onclick="GetAgentCommissionReport();" style="margin-top:30px;">Search</button>
    </div>

</div>

<div id="divError" style="display:inline-block;color:Red;display:none;">
</div>
@*<div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"></table>
    </div>*@
<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });

        $("#lblPageName").text("Agent Commission Report");
        $("#divDashboardHeader,#divDashboard").hide();
        $('.date').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            maxDate: '0'

        });
        LoadAgentList();

    });
    function getWebapiBaseUrl() {
       // var uri = 'http://localhost/InsuranceIssueApp.WebAPI/';
        var uri = 'http://insurancewebapi.azurewebsites.net/';
        return uri;
    }
    function LoadAgentList() {
        var baseapiurl = getWebapiBaseUrl() + 'api/InsuranceAPI/GetAgentList';
        $.post(baseapiurl, function (jData) {
            var strHtml = '<option value="0">All</option>';
            if (jData && jData.length > 0) {
                $.each(jData, function (key, item) {
                    strHtml += '<option value="' + item.Value + '">' + item.Name + '</option>';
                });
                $('#ddlAgentName').html(strHtml);
            }
        });
    }
    function GetAgentCommissionReport() {

        if ($("#dtpStartDate").val() == "") {
            $("#divError").show();
            $("#divError").html("Please enter FromDate!");
            return false;
        }
        else if ($("#dtpEndDate").val() == "") {
            $("#divError").show();
            $("#divError").html("Please enter ToDate!");
            return false;
        }
        else {

            var ReportFilters = {
                FromDate: $("#dtpStartDate").val(),
                ToDate: $("#dtpEndDate").val(),
                AgentId : $('#ddlAgentName option:selected').val()
            };
           
            var url = '/Report/RepAgentCommisionResult?fromdate=' + $("#dtpStartDate").val() + '&todate=' + $("#dtpEndDate").val() + '&agentid=' + $('#ddlAgentName option:selected').val();
            alert($('#ddlAgentName option:selected').val());
            $("#jqGrid").jqGrid({
                url: url,
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Policy No', 'Agent Name', 'Sum Assured', 'PremiumAmount', 'CommissionAmount'],
                colModel: [
                    { key: true, name: 'PolicyNo', index: 'PolicyNo', editable: true },
                    { key: false, name: 'AgentName', index: 'AgentName', editable: true },
                    { key: false, name: 'SumAssured', index: 'SumAssured', editable: true },                  
                    { key: false, name: 'PremiumAmount', index: 'PremiumAmount', editable: true },
                    { key: false, name: 'CommissionAmount', index: 'CommissionAmount', editable: true }
                ],
                pager: jQuery('#jqControls'),
              //  rowNum: 10,
              //  rowList: [10, 20, 30, 40, 50],
                height: '100%',
                viewrecords: true,
                caption: 'Agent Commission Records',
                emptyrecords: 'No Agent Commission Records are Available to Display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    Id: "0"
                },
                autowidth: true,
                multiselect: false
            });
        }

    }

    function loadEnquiryCallback(ID) {
        $('#divCallbackUpdate').modal('show')
        /// $("#divCallbackUpdate").show();
        $("#hdnEquiryID").val(ID);
    }
</script>
