<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CacheConnection" value="charlesRedisCache.redis.cache.windows.net,abortConnect=false,ssl=true,password=9CkuTF9PE6TvQTbZVraIAx207Pa+2dITL06SShg4GAs="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
